/* Main about section */
.main-about {
    background-image: url(../img/aboutus/about-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    top: -10px;
    padding: 12px 0 100px;
    z-index: 1;
    position: relative;
}


/* About section */

.command-work {
    padding: 10px;
    border: 1px solid #fdff00;
    border-radius: 20px;
    background-color: #fdff00;
    color: black;
    font-weight: 600;
    max-width: fit-content;
    margin-left: 12px;
    margin-bottom: 30px;
}


/* Command Section */
.swiper.mySwiperTwo.three {
    height: 447px;
}




/* Support Section */

.support-box {
    padding: 0px 30px 50px 28px;
    transition: 0.4s;
    z-index: 2;
}

.support-box:hover {
    background: black;
    border-radius: 14px;
    -webkit-box-shadow: 4px 5px 6px -2px rgba(26, 255, 0, 0.2);
    -moz-box-shadow: 4px 5px 6px -2px rgba(26, 255, 0, 0.2);
    box-shadow: 4px 5px 6px -2px rgba(26, 255, 0, 0.2);
}

.supp-item {
    z-index: 2;
}

.supp-bg {
    position: relative;
}

.supp-bg::before {
    background-image: url(../img/entomofagi/support_bg.png);
    background-repeat: no-repeat;
    width: 715px;
    height: 558px;
    position: absolute;
    display: block;
    content: '';
    right: 154px;
    bottom: 0px;
    z-index: 1;
}






/* All Media Query */

@media only screen and (max-width: 1250px) {
    .main-about {
        padding: 12px 0 80px;
    }
}

@media only screen and (max-width: 990px) {
    .main-about {
        padding: 12px 0 80px;
    }

    .main-dron svg {
        right: 359px;
        top: 28px;
        width: 450px;
    }

    .main-dron img {
        right: 247px;
        top: -3px;
    }
}

@media only screen and (max-width: 768px) {
    .main-dron svg {
        right: 57%;
        top: -16px;
        width: 351px;
    }

    .main-dron img {
        right: 44%;
        top: -3px;
    }
}

@media only screen and (max-width: 500px) {
    .main-about {
        background-image: inherit;
        padding: 12px 0 100px;
    }
}

@media only screen and (max-width: 420px) {
    .main-about {
        background-image: inherit;
        padding: 12px 0 0;
    }

    .swiper.mySwiperTwo.three {
        height: 322px;
    }

    .swiper.mySwiperTwo.three .swiper-slide {
        width: 90%;
        margin-left: 20px;
    }

    .command-work {
        padding: 3px 6px;
    }
}