.main-agro {
    background-image: url(../img/agromonitoring/agro-bg.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    top: -35px;
    padding: 27px 0 144px;
    z-index: 1;
    position: relative;
}

.agro-item {
    padding: 18px;
    border-radius: 10px;
    transition: 0.4s;
    background: #0f0f0f;
    box-shadow: 5px 5px 11px #0e0e0e,
        -5px -5px 11px #222222;
}











/* All Media Query */

@media only screen and (max-width: 1250px) {
    .main-agro {
        padding: 26px 0 84px;
    }
}

@media only screen and (max-width: 990px) {
    .main-agro {
        padding: 0px 0 48px;
    }
}

@media only screen and (max-width: 768px) {
    .main-agro {
        padding: 6px 0 55px;
    }
}

@media only screen and (max-width: 500px) {
    .main-agro {
        background-image: inherit;
        padding: 0px 0 58px;
    }
}

@media only screen and (max-width: 420px) {}