.main-catalog {
    background-image: url(../img/catalog/catalog-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    top: -35px;
    padding: 141px 0 100px;
    z-index: 1;
    position: relative;
}

.main-dron-catalog svg {
    right: 64%;
    top: 26px;
    width: 49%;
    position: absolute;
}

.main-dron-catalog img {
    right: 53%;
    top: -10px;
    position: absolute;
}

.catalog-item {
    cursor: pointer;
}

.catalog-item:hover {
    transition: 0.5s;
    transform: scale(1.07);
}

.category-item-menu h6 {
    transition: all 0.6s;
}

.category-item.hideMenu>.sub-menu {
    display: none;
    transition: all 0.6s;
}

.category-item.showMenu>.sub-menu {
    display: block;
    transition: all 0.6s;
}

.category-item.showMenu>.category-item-menu .vector {
    transform: rotate(540deg);
    transition: all 0.6s;
    stroke: #02E502;
}

.category-item.hideMenu>.category-item-menu .vector {
    transform: rotate(0deg);
    transition: all 0.6s;
}

.vector {
    viewport-fit: 10px;
}



.drone-items {
    position: relative;
    width: 330px;
    height: 513px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1e1d1d;
    overflow: hidden;
    border-radius: 10px;
}

.drone-items::before {
    content: '';
    position: absolute;
    width: 200px;
    height: 160%;
    background: linear-gradient(#12a0ff, #00d100);
    animation: box 4s linear infinite;
    display: none;
}

.drone-items:hover {
    transition: all 0.4s;
    background-color: rgba(0, 0, 0, 0.5);
}

.drone-items:hover::before {
    display: block;
}

.drone-items:hover .drone-item {
    background-color: #000;
}

.drone-items:hover .p-name {
    color: #02E502;
}

.drone-items:hover .p-price {
    color: #fbff00;
}

.drone-item {
    z-index: 10;
}

@keyframes box {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}






/* All Media Query */

@media only screen and (max-width: 1250px) {}

@media only screen and (max-width: 990px) {}

@media only screen and (max-width: 768px) {
    .main-catalog {
        padding: 39px 0 75px;
    }

    .main-dron-catalog svg {
        right: 64%;
        top: -9px;
        width: 49%;
    }

    .main-dron-catalog img {
        width: 9%;
    }
}

@media only screen and (max-width: 500px) {
    .main-catalog {
        background-image: inherit;
        padding: 28px 0 0;
    }

    .main-dron-catalog svg {
        right: 38%;
        top: 3px;
        width: 60%;
    }

    .main-dron-catalog img {
        right: 22%;
        top: 11px;
        width: 10%;
        position: absolute;
    }
}

@media only screen and (max-width: 420px) {
    .main-dron-catalog svg {
        right: 36%;
        top: 0px;
        width: 88%;
    }

    .main-dron-catalog img {
        right: 20%;
        top: 11px;
        width: 12%;
        position: absolute;
    }
}