/* Main section */
.main-entomof {
    background-image: url(../img/entomofagi/main-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    top: -35px;
    padding: 22px 0 45px;
    z-index: 1;
    position: relative;
}

.ento-item {
    cursor: pointer;
}

.ento-item:hover {
    transition: 0.5s;
    transform: scale(1.1);
}










/* All Media Query */

@media only screen and (max-width: 768px) {
    .main-entomof {
        background-image: url(../img/entomofagi/media768/main-bg.png);
        top: -48px;
        padding: 2px 30px 6px;
    }
}




@media only screen and (max-width: 480px) {
    .main-entomof {
        background-image: inherit;
    }
}