body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.news-box:hover {
    transform: scale(1.05);
}

.news-box:hover .box-item .titles a {
    color: #01B601;
    transition: 0.4s;
}

.news-box:hover .box-item .titles p {
    color: rgb(21, 255, 0);
    transition: 0.4s;
}

.news-box:hover .item-img::before {
    display: block;
}

.item-img {
    position: relative;
    width: 460px;
    height: 288px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: hidden;
}

.item-img::before {
    content: '';
    position: absolute;
    width: 175px;
    height: 200%;
    background: linear-gradient(#00ccff, #d400d4);
    animation: box 4s linear infinite;
    display: none;
}

@keyframes box {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.item-img img {
    max-width: 457px;
    height: 285px;
    position: relative;
    z-index: 10;
}