.post-sections-title {
    display: flex;
    margin-top: 70px;
    font-size: 25px;
}

.news_post {
    padding: 40px 0 488px;
}

.post-title {
    font-size: 48px;
    line-height: 50px;
    margin: 40px 0;
}

.post-box {
    padding: 50px 0;
}

.post-item {}

/* .post-item:nth-child(2) {
    display: inherit;
    margin-bottom: 50px;
    padding: 0 18px;
} */

.post-info {
    padding: 0px 18px 0 0px;
}

.post-info p .link {
    color: #00ccff;
}

.post-item p {
    font-size: 22px;
    line-height: 28px;
    color: rgb(155, 155, 155);
}

.post-item p b,
b {
    font-size: 24px;
}

.post-img-box.one {
    float: right;
    margin: 8px 0px 28px 20px;
}

.post-img-box.two {
    float: left;
    margin: 30px 30px 32px 0;
}

.post-img {
    position: relative;
    width: 465px;
    height: 395px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: hidden;
}


.post-img::before {
    content: '';
    position: absolute;
    width: 170px;
    height: 160%;
    background: linear-gradient(#00ccff, #d400d4);
    animation: box 4s linear infinite;
}

@keyframes box {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.post-img img {
    width: 460px;
    height: 390px;
    position: relative;
    z-index: 10;
    object-fit: cover;
}


@media only screen and (max-width: 1200px) {
    .post-item p {
        font-size: 20px;
        line-height: 25px;
    }

    .post-img img {
        width: 400px;
        height: 330px;
    }

    .post-img {
        width: 395px;
        height: 331px;
    }

    .post-img-box.one {
        float: right;
        margin: 7px 0px 20px 27px;
    }
}

@media only screen and (max-width: 990px) {
    .post-box {
        padding: 50px 0 0;
    }

    .post-title {
        font-size: 36px;
        line-height: 45px;
        margin: 0;
    }

    .post-img-box.one {
        float: right;
        margin: 7px 0px 20px 10px;
    }
}

@media only screen and (max-width: 768px) {
    .post-sections-title {
        margin-top: 40px;
        font-size: 20px;
    }

    .post-title {
        font-size: 32px;
        line-height: 34px;
        margin: 0;
    }

    .post-img {
        width: 342px;
        height: 273px;
    }

    .post-img img {
        width: 340px;
        height: 270px;
    }

    .post-img-box.one {
        float: right;
        margin: 7px 0px 20px 10px;
    }
}

@media only screen and (max-width: 500px) {
    .post-img-box.one {
        float: initial;
        margin: 7px auto 20px;
    }

    .post-img-box.two {
        float: initial;
        margin: 7px auto 20px;
    }

    .post-img {
        margin: 0 auto;
    }
}

@media only screen and (max-width: 420px) {
    .post-img {
        width: 313px;
        height: 243px;
    }

    .post-img img {
        width: 310px;
        height: 240px;
    }
}