/* Main section */
.main-sprayer {
    background-image: url(../img/spraying/spraying-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    top: -10px;
    padding: 243px 0 100px;
    z-index: 1;
    position: relative;
}

.main-info {
    position: relative;
    bottom: 80px;
}

/* About section */

.sprayer-text {
    height: 150px;
    overflow: hidden;
    position: relative;
    transition: all 1s ease;
}

.sprayer-text::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 110px;
    background: linear-gradient(0deg, #141414 0%, rgb(18 18 18 / 63%) 100%);
}

.info.open-active .sprayer-text {
    height: 260px;
}

.info.open-active .sprayer-text::before {
    display: none;
}




/* Support Section */

.support-box {
    padding: 0px 30px 50px 28px;
    transition: 0.4s;
    z-index: 2;
}

.support-box:hover {
    background: black;
    border-radius: 14px;
}

.supp-item {
    z-index: 2;
}

.supp-bg {
    position: relative;
}

.supp-bg::before {
    background-image: url(../img/entomofagi/support_bg.png);
    background-repeat: no-repeat;
    width: 715px;
    height: 558px;
    position: absolute;
    display: block;
    content: '';
    right: 154px;
    bottom: 0px;
    z-index: 1;
}




/* Plus Section */
.plus-item:hover {
    transform: scale(0.9);
    transition: .5s;
    -webkit-box-shadow: 4px 4px 8px 2px rgba(26, 255, 0, 0.2);
    -moz-box-shadow: 4px 4px 8px 2px rgba(26, 255, 0, 0.2);
    box-shadow: 4px 4px 8px 2px rgba(26, 255, 0, 0.2);
}

.plus-item:hover .check-img svg path {
    stroke: #02E502;
}



/* Plus Swiper */
.swiper.plusSwiper {
    width: 100%;
    height: auto;
    display: none;
    margin: 0;
}

.swiper.plusSwiper .swiper-slide {
    max-width: 70%;
    text-align: left;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    flex-direction: column;
    justify-content: start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: start;
    background: #000000;
    -webkit-box-shadow: 4px 4px 8px 2px rgba(26, 255, 0, 0.2);
    -moz-box-shadow: 4px 4px 8px 2px rgba(26, 255, 0, 0.2);
    box-shadow: 4px 4px 8px 2px rgba(26, 255, 0, 0.2);
}

.swiper.plusSwiper .swiper-pagination {
    margin-top: 20px;
}


.bg-plus-left {
    position: relative;
}

.bg-plus-left::before {
    background-image: url(../img/spraying/plus-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 96px;
    left: -121px;
    display: block;
    content: '';
    width: 79px;
    height: 242px;
}

.bg-plus-right {
    position: relative;
}

.bg-plus-right::after {
    background-image: url(../img/spraying/graydrone-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 388px;
    right: -117px;
    display: block;
    content: '';
    width: 264px;
    height: 265px;
    z-index: -1;
    animation: animate 5s linear infinite;
}







/* Support box */
.support-box:hover {
    background: black;
    border-radius: 14px;
    -webkit-box-shadow: 4px 5px 6px -2px rgba(26, 255, 0, 0.2);
    -moz-box-shadow: 4px 5px 6px -2px rgba(26, 255, 0, 0.2);
    box-shadow: 4px 5px 6px -2px rgba(26, 255, 0, 0.2);
}



/* All Media Query */

@media only screen and (max-width: 1250px) {
    .main-sprayer {
        background-image: url(../img/spraying/spraying-bg.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        top: -10px;
        padding: 136px 21px 67px;
        z-index: 1;
        position: relative;
    }
}

@media only screen and (max-width: 990px) {
    .swiper.plusSwiper {
        display: block;
    }
}

@media only screen and (max-width: 768px) {
    .supp-bg::before {
        display: none;
    }

    .support-box {
        padding: 30px 30px 50px 28px;
    }

    .primary-title.support {
        margin: 0;
    }

    .swiper.plusSwiper .swiper-slide {
        max-width: 98%;
    }
}

@media only screen and (max-width: 500px) {}

@media only screen and (max-width: 420px) {
    .sprayer-text {
        height: 137px;
        margin-top: 66px;
    }
}